@using SecureDigitalHealthcare.Controllers
@using SecureDigitalHealthcare.Utilities
@model SecureDigitalHealthcare.DTOs.ChangePasswordDTO

@inject AppController<AccountController> accountController

@{
    ViewData["Title"] = "Change Password";


    string email = string.Empty;
    string password = string.Empty;
    string otp = string.Empty;
    bool isResetLink = false;

    if (Model != null)
    {
        email = Model.Email;
        password = Model.Password;
        otp = Model.OTP;
        isResetLink = true;
    }
}

@functions
{
    public string GetUrlActionSubmitNewPassword()
    {
        return accountController.CallAction(x => x.SubmitNewPasswordOTP("", ""));
    }
    public string GetUrlActionSubmitNewPasswordForgot()
    {
        return accountController.CallAction(x => x.SubmitNewPasswordForget("", "", ""));
    }
    public string GetUrlActionSendOTP()
    {
        return accountController.CallAction(x => x.SendOTP(""));
    }
}


@if (isResetLink == true)
{
    <h4>Pleae submit your new password</h4>
}
else
{
    <h4>Pleae verify via OTP</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        @{
            string formAction = "";
            if (isResetLink)
            {
                formAction = GetUrlActionSubmitNewPasswordForgot();
            }
            else
            {
                formAction = GetUrlActionSubmitNewPasswordForgot();
            }
        }
        <form action="@formAction" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary mt-1" />
            </div>
            <div class="form-group">
                <label asp-for="OTP" class="control-label mt-3"></label>
                @if (isResetLink == false)
                {
                    <input asp-for="OTP" class="form-control" />
                }
                else
                {
                    <input asp-for="OTP" class="form-control" value="@otp" readonly />
                }
                @* <span asp-validation-for="OTP" class="text-danger"></span> *@
            </div>
        </form>


        @if (isResetLink == false)
        {
            <form action="@GetUrlActionSendOTP()" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Email" />
                <div class="form-group">
                    <input type="submit" value="Send OTP to your email" class="btn btn-primary mt-1" formtarget="_blank" />
                </div>
            </form>
        }
    </div>
</div>

<div>

    @{
        await Html.RenderPartialAsync($"_{ViewDataConstants.ValidationMessage}");
    }
    @* <a asp-action="Index">Back to List</a> *@
</div>


