@using Microsoft.AspNetCore.Mvc.Routing
@using SecureDigitalHealthcare.Controllers
@using SecureDigitalHealthcare.Utilities
@model SecureDigitalHealthcare.Models.User
@inject AppController<FilesController> fileController
@inject AppController<AccountController> accountController

@{
    ViewData["Title"] = "Sign up";
}

@{
    string defaultImageValue = @GetSrcProfilePicture("Default.jpg");
}
@functions {
    public string GetUrlActionSignup()
    {
        return accountController.CallAction(c => c.Signup());
    }
    public string GetSrcProfilePicture(string profilePicturePath)
    {
        return fileController.CallAction(c => c.DownloadFile(profilePicturePath));
    }
}

<h1>Sign up</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@GetUrlActionSignup()" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <input type="number" id="roleId" name="roleId" value="3" hidden>
            @* <input type="text" id="ProfileImagePath" name="ProfileImagePath " value="empty" hidden> *@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <img class="rounded-circle m-3" id="profilePictureImg" src="@GetSrcProfilePicture("Default.jpg")"
                     alt="No image"
                     width="150"
                     height="150" />
                <br />
                <label class="control-label">Profile Picture</label>
                <input type="file" name="profilePictureInput" id="profilePictureInput" class="form-control" accept="image/png, image/jpeg, image/jpg" />
                @* <button id="removeImageButton" class="form-control btn btn-danger">Remove image</button> *@
            </div>

            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" type="number" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="BirthDate" class="control-label">Birthdate</label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="true" selected>Male</option>
                    <option value="false">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <div class="form-check">
                    <input asp-for="AgreedTerms" class="form-check-input" checked required />
                    <label asp-for="AgreedTerms" class="form-check-label control-label">
                        Please read our
                        <a asp-action="Terms" target="_blank">terms</a> and agree them to proceed.
                    </label>
                    <span asp-validation-for="AgreedTerms" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input class="form-control" style="display:none" name="Honeypot" />
            </div>

            <div class="form-group mt-2">

                <dnt-captcha asp-captcha-generator-max="30"
                             asp-captcha-generator-min="1"
                             asp-captcha-generator-language="English"
                             asp-captcha-generator-display-mode="SumOfTwoNumbers"
                             asp-use-relative-urls="true"
                             asp-placeholder="Security code as a number"
                             asp-validation-error-message="Please enter the security code as a number."
                             asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#FCF6F5FF"
                             asp-text-box-class="form-control"
                             asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
                             asp-show-refresh-button="true"
                             asp-dir="ltr" />

            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        @{
            await Html.RenderPartialAsync($"_{ViewDataConstants.ValidationMessage}");
        }
    </div>
</div>


@section Scripts {
    <script>
        document.getElementById('profilePictureInput').addEventListener('change', function (event) {
            // Check if any file is selected
            if (event.target.files.length > 0) {
                var file = event.target.files[0];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var imageUrl = e.target.result;
                    document.getElementById('profilePictureImg').src = imageUrl;
                };

                reader.readAsDataURL(file);
            }
            else {
                // Handle case when no file is selected
                // For example, clear the existing image
                var profilePictureUrl = '@GetSrcProfilePicture("Default.jpg")'; // Assuming ProfilePictureUrl is a property in your model
                document.getElementById('profilePictureImg').src = profilePictureUrl; // Clear the image
            }
        });
    </script>
}