@using SecureDigitalHealthcare.Utilities
@using SecureDigitalHealthcare.Controllers
@using System.Reflection
@model IEnumerable<SecureDigitalHealthcare.DTOs.DoctorDTO>

@inject AppController<FilesController> fileController
@inject AppController<AppointmentsController> appointmentController
@inject AppController<DoctorsController> doctorsController

@{
    ViewData["Title"] = "Booking Appointment";
}

@functions {
    public string GetUrlActionSearchDoctorsByName()
    {
        return doctorsController.GetActionUrl(nameof(DoctorsController.GetDoctorsByName));
    }
    public string GetUrlActionSearchDoctorsBySpeciality()
    {
        return doctorsController.GetActionUrl(nameof(DoctorsController.GetDoctorsBySpeciality));
    }
    public string GetSrcDoctorProfilePicture(string profilePicturePath)
    {
        return fileController.CallAction(x => x.DownloadFile(profilePicturePath));
    }
    public string GetHrefDoctorAppointmentUrl(int doctorId)
    {
        return appointmentController.CallAction(x => x.BookAppointment(doctorId));
    }
}

<h3>Select your doctor</h3>

<br />

<div class="container">
    <div class="row">
        <div class="col">

            <br />

            <form action="@GetUrlActionSearchDoctorsByName()" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="doctorName" class="form-control" placeholder="Search by last name">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <form action="@GetUrlActionSearchDoctorsBySpeciality()" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="speciality" class="form-control" placeholder="Search by speciality">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <br />


        </div>
    </div>

    <div class="row">
        @foreach (var doctor in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="@GetSrcDoctorProfilePicture(doctor.ProfilePicturePath)" class="rounded-circle m-3 align-self-center" alt="No image" width="170" height="170" alt="Doctor Profile Picture">

                    <div class="card-body">
                        <h5 class="card-title text-center">@doctor.Name @doctor.LastName</h5>
                        <p class="card-text text-center">@doctor.Speciality</p>
                        <div class="text-center">
                            <a href="@GetHrefDoctorAppointmentUrl(doctor.Id)" class="btn btn-primary">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>