@using SecureDigitalHealthcare.DTOs
@using SecureDigitalHealthcare.Utilities
@using SecureDigitalHealthcare.Controllers
@model IEnumerable<SecureDigitalHealthcare.Models.Availability>
@inject AppController<DoctorsController> doctorsController
@inject AppController<AppointmentsController> appointmentsController

@{
    ViewData["Title"] = "Availabilites";
}

@functions {
    private string GetUrlActionDeleteAvailability()
    {
        return doctorsController.CallAction(c => c.DeleteAvailibility(null));
    }
    private string GetUrlActionAddCustomAvailability()
    {
        return doctorsController.CallAction(c => c.AddAvailibility(null));
    }
    private string GetUrlActionAddPredefinedAvailability()
    {
        return doctorsController.GetActionUrl(nameof(DoctorsController.AddPredefinedAvailibility));
    }
    private string GetHrefAppointmentDetails(Appointment appointment)
    {
        return appointmentsController.CallAction(c => c.AppointmentDetails(appointment));
    }
}

<h1>Manage Your Availabilites</h1>
@{
    await Html.RenderPartialAsync($"_{ViewDataConstants.ValidationMessage}");
}
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Form
            </th>
            <th>
                To
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var dates = Model.OrderBy(x => x.StartTime.Date).ThenBy(item => item.StartTime.TimeOfDay);
        }
        @foreach (var item in dates)
        {
            <tr>
                <td>
                    @item.StartTime.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.StartTime.ToString("HH:mm")
                </td>
                <td>
                    @item.EndTime.ToString("HH:mm")
                </td>
                <td>
                    @{
                        if (item.Taken == true)
                        {
                            <a class="btn btn-warning" target="_blank" href="@GetHrefAppointmentDetails(item.Appointments.FirstOrDefault(x=>x.DoctorId==item.DoctorId))">See Appointment</a>
                        }
                    }
                </td>
                <td>
                    @if (item.Taken == false)
                    {
                        <form action="@GetUrlActionDeleteAvailability()" method="post">

                            <input type="hidden" name="@nameof(AvailabilityDTO.DoctorId)" value="@item.DoctorId" />
                            <input type="hidden" name="@nameof(AvailabilityDTO.StartTime)" value="@item.StartTime" />
                            <input type="hidden" name="@nameof(AvailabilityDTO.EndTime)" value="@item.EndTime" />

                            <div class="form-group">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-outline-danger" disabled />
                        </div>
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="5">
                <p class="alert text-success">Add your custom availability</p>
            </td>
        </tr>
        <tr>
            <form action="@GetUrlActionAddCustomAvailability()" method="post">
                <input type="hidden" name="@nameof(AvailabilityDTO.DoctorId)" value="@AppAuthentication.GetCurrentUserId(User)" />
            <td>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" name="@nameof(AvailabilityDTO.StartTime)" value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" name="@nameof(AvailabilityDTO.EndTime)" value="@DateTime.UtcNow.AddHours(1).ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </td>
            </form>
        </tr>
        <tr>
            <td colspan="5">
                <p class="alert text-success">Add 30-minutes availabilities in the following date between your favorite times</p>
            </td>
        </tr>
        <tr>
            <form action="@GetUrlActionAddPredefinedAvailability()" method="post">
            <td>
                <div class="form-group">
                    <input class="form-control" type="date" name="@nameof(PredefinedAvailability.date)" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="time" name="@nameof(PredefinedAvailability.from)" value="@DateTime.Today.AddHours(8).ToString("HH:mm")" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="time" name="@nameof(PredefinedAvailability.to)" value="@DateTime.Today.AddHours(8 + 4 ).ToString("HH:mm")" />
                </div>
                <input name="@nameof(PredefinedAvailability.minutes)" type="number" value="30" hidden>
            </td>
            <td>
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </td>
            </form>
        </tr>
        <tr>
            <td colspan="5">
                <p class="alert text-success">Add 1-hour availabilities in the following date between your favorite times</p>
            </td>
        </tr>
        <tr>
            <form action="@GetUrlActionAddPredefinedAvailability()" method="post">
            <td>
                <div class="form-group">
                    <input class="form-control" type="date" name="@nameof(PredefinedAvailability.date)" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="time" name="@nameof(PredefinedAvailability.from)" value="@DateTime.Today.AddHours(8).ToString("HH:mm")" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="time" name="@nameof(PredefinedAvailability.to)" value="@DateTime.Today.AddHours(8 + 4 ).ToString("HH:mm")" />
                </div>
                <input name="@nameof(PredefinedAvailability.minutes)" type="number" value="60" hidden>
            </td>
            <td>
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-success" />
                </div>
            </td>
            </form>
        </tr>
    </tbody>
</table>