@using SecureDigitalHealthcare.Utilities
@using SecureDigitalHealthcare.Controllers
@using System.Reflection

@model SecureDigitalHealthcare.DTOs.DoctorAppointmentDTO

@inject AppController<FilesController> fileController
@inject AppController<AppointmentsController> appointmentController
@inject AppController<CommentsController> commentController

@{
    ViewData["Title"] = "BookAppointment";
}
@functions {

    public string GetSrcDoctorProfilePicture(string profilePicturePath)
    {
        return fileController.CallAction(x => x.DownloadFile(profilePicturePath));
    }
    public string GetUrlActionBookAppointment(int doctorId, DateTime startTime, DateTime endTime, bool taken)
    {
        return appointmentController.CallAction(x => x.BookAppointment(doctorId, startTime, endTime, taken));
    }
    public string GetUrlActionSubmitComment(int receiverId, int? replyToId)
    {
        return commentController.CallAction(x => x.SubmitCommentToDoctor(receiverId, replyToId, null!));
    }
}

<h1>Booking an Appointment</h1>

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img src="@GetSrcDoctorProfilePicture(Model.ProfilePicturePath)" class="rounded-circle m-3 align-self-center" alt="No image" width="170" height="170" alt="Doctor Profile Picture">
                    <h5 class="card-title">@Model.DoctorName @Model.DoctorLastName</h5>
                    <p class="card-text">@Model.Speciality</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Availability</h2>
            @if (Model.Availabilities.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var availability in Model.Availabilities)
                        {
                            if (availability.Taken == true)
                                continue;
                            var duration = (availability.EndTime - availability.StartTime).TotalMinutes;

                            <tr>
                                <td>@availability.StartTime</td>
                                <td>@availability.EndTime</td>
                                <td>@duration°</td>
                                <td>
                                    <form method="post" action="@GetUrlActionBookAppointment(availability.DoctorId,availability.StartTime,availability.EndTime,availability.Taken)">

                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-primary">Book</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No availability found.</p>
            }
        </div>
    </div>
    <!-- Comments section -->
    <div class="row mt-5">
        <div class="col">
            <h4>Comments about doctor @Model.DoctorName @Model.DoctorLastName</h4>
            <!-- Display existing comments -->
            @foreach (var comment in Model.DoctorsComment)
            {
                <div class="card mb-3 bg-light  rounded-3">
                    <div class="card-body">
                        <h5 class="card-title">@comment.Sender.Name @comment.Sender.LastName</h5>
                        <p class="card-text mt-2">@comment.Text</p>
                    </div>
                </div>
            }
            @if (Model.DoctorsComment.Count == 0)
            {
                <p>No comments found.</p>
            }

            <!-- Form to add a new comment -->
            <h4>Add a Comment</h4>
            <form method="post" action="@GetUrlActionSubmitComment(Model.DoctorId,replyToId: null)">

                @Html.AntiForgeryToken()
                <div class="form-group mb-2 mt-3">
                    <textarea name="textComment" class="form-control" placeholder="Your Comment" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    </div>
</div>