@model IEnumerable<SecureDigitalHealthcare.Models.Appointment>
@using SecureDigitalHealthcare.Controllers
@using SecureDigitalHealthcare.Utilities
@using SecureDigitalHealthcare.DTOs
@inject AppController<FilesController> fileController
@inject AppController<AccountController> accountController
@inject AppController<AppointmentsController> appointmentsController

@{
    ViewData["Title"] = "Upcomming Appointments";
}

@functions {
    public string GetSrcProfilePicture(string profilePicturePath)
    {
        return fileController.CallAction(c => c.DownloadFile(profilePicturePath));
    }
    public string GetUrlActionCancelAppointment(Appointment appointment)
    {
        CancelAppointmentDTO cancelAppointmentDTO = new(appointment.DoctorId, appointment.PatientId, appointment.AvailabilityId);

        return appointmentsController.CallAction(c => c.CancelAppointment(cancelAppointmentDTO));
    }
    public string GetUrlActionAppointmentDetails(Appointment appointment)
    {
        return appointmentsController.CallAction(c => c.AppointmentDetails(appointment));
    }
}

<h2>Your Upcomming Appointments</h2>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Doctor
            </th>
            <th>
                Speciality
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Duration
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string date = item.Availability.StartTime.ToString("dd-MM-yyyy");
            string time = item.Availability.StartTime.ToString("HH:mm");
            string duration = (item.Availability.EndTime - item.Availability.StartTime).TotalMinutes.ToString() + "°";

            <input type="hidden" id="textToCopy" value="@item.RoomCall.GuestAccessToken"></input>
            <tr>
                <td class="align-content-center">
                    @{
                        string profilePictureName = "Default.jpg";
                        if (string.IsNullOrEmpty(item.Doctor.IdNavigation.ProfileImagePath) == false)
                        {
                            profilePictureName = item.Doctor.IdNavigation.ProfileImagePath;
                        }
                    }
                    <img class="rounded-circle" id="profilePictureImg" src="@GetSrcProfilePicture(profilePictureName)"
                         alt="No image"
                         width="50"
                         height="50" />

                </td>
                <td class="align-content-center">
                    @Html.DisplayFor(modelItem => item.Doctor.IdNavigation.Name)  @Html.DisplayFor(modelItem => item.Doctor.IdNavigation.LastName)
                </td>
                <td class="align-content-center">
                    @Html.DisplayFor(modelItem => item.Doctor.Speciality.Name)
                </td>
                <td class="align-content-center">
                    @date
                </td>
                <td class="align-content-center">
                    @time
                </td>
                <td class="align-content-center">
                    @duration
                </td>
                <td class="align-content-center">
                    <a href="@GetUrlActionAppointmentDetails(item)" class="btn btn-warning">Details</a>
                </td>
                <td class="align-content-center">
                    @if (item.Availability.StartTime <= DateTime.Now && item.Availability.EndTime >= DateTime.Now)
                    {
                        <a onclick="copyText();" href="@ViewBag.VideoCallUrl" class="btn btn-primary" target="_blank">Enter</a>
                    }
                    else if (item.Availability.EndTime >= DateTime.Now)
                    {
                        <span class="btn btn-outline-success">Pending</span>
                    }
                    else
                    {
                        <span class="btn btn-success">Finished</span>
                    }
                </td>
                <td class="align-content-center">
                    <form action="@GetUrlActionCancelAppointment(item)" method="post">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/CopyAccessToken.js"></script>
